<section class="section">
  <h1>{{lingue.contato}}</h1>

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control mg3vh" placeholder="{{lingue.Nome}}">
          </div>
          <div class="col"> 
            <input type="text" class="form-control mg3vh" placeholder="{{lingue.Sobrenome}}">
          </div>
        </div>
        <div>
          <input type="tel" class="form-control mg3vh" placeholder="{{lingue.Telefone}}">
          <input type="email" class="form-control mg3vh" placeholder="{{lingue.Email}}">
          <textarea class="form-control mg3vh" placeholder="{{lingue.Messagem}}"></textarea>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-primary mg0vh">{{lingue.Enviar}}</button><button class="btn btn-dark mg0vh">{{lingue.Limpar}}</button>
        </div>

      </form>
    </div>
    <div class="row col-sm-6 col-md-6 justify-content-center align-items-center">
      <img class="img-fluid" src="/img/contato.jpg">
    </div>
  </div>
</section>